

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <div style="background-color: red">
        <img src="" alt="imagen">
        <ion-card-title>Card Title</ion-card-title>

      </div>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card> 
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col size="8">HOla</ion-col>
      <ion-col size="4">Mundo</ion-col>
    </ion-row>
  </ion-grid> -->

<ion-grid >
  <ion-row>
    <ion-col size="6" style="background-color: red;" class="contenedor">
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-row class="ion-justify-content-around ion-align-items-center ion-column">
            <ion-col size="12" style="background-color: pink;">Hola</ion-col>
            <ion-col size="12" style="background-color: pink;">Como</ion-col>
            <ion-col size="12" style="background-color: pink;">Tas</ion-col>
          </ion-row>
        </ion-col>

      </ion-row>

    </ion-col>
    <ion-col size="6" style="background-color: green;">Hola enemigos Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi excepturi assumenda exercitationem maxime quod iure repellendus suscipit nemo omnis. Id non quae nostrum laborum recusandae veritatis ut delectus error porro.
    Et facilis sint pariatur natus esse in illo, enim aliquid, quam aspernatur est laudantium delectus voluptatum placeat iste quae, temporibus neque tenetur. Quam non assumenda soluta est odio sint accusantium?
    Aut, culpa, atque ad voluptatem magni officia, porro ipsam reprehenderit fugit ut quaerat modi nobis deleniti minima harum possimus eum! Eligendi numquam necessitatibus repellendus recusandae veniam alias assumenda amet voluptatum?
    Doloremque, quas aliquid tempore officia eligendi cum rem laborum est minus laudantium numquam quasi odio quaerat repudiandae amet culpa, in ipsa consequatur molestias dolore vero. Eos incidunt eum odit quia.
    Illum recusandae cupiditate voluptates cumque, nam aut harum ab cum hic iure labore distinctio doloribus in sit iusto repellat perferendis esse nulla. Itaque suscipit reiciendis ipsam minus quo expedita architecto!</ion-col>
  </ion-row>
</ion-grid>

<ion-grid >
  <ion-row>
    <ion-col size="6" style="background-color: red;" class="">
      <ion-row class="ion-justify-content-center">
        <ion-col size="3" style="background-color: pink;">Hola</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="3" style="background-color: pink;">Hola</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="3" style="background-color: pink;">Hola</ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="6" style="background-color: green;">Hola enemigos Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi excepturi assumenda exercitationem maxime quod iure repellendus suscipit nemo omnis. Id non quae nostrum laborum recusandae veritatis ut delectus error porro.
    Et facilis sint pariatur natus esse in illo, enim aliquid, quam aspernatur est laudantium delectus voluptatum placeat iste quae, temporibus neque tenetur. Quam non assumenda soluta est odio sint accusantium?
    Aut, culpa, atque ad voluptatem magni officia, porro ipsam reprehenderit fugit ut quaerat modi nobis deleniti minima harum possimus eum! Eligendi numquam necessitatibus repellendus recusandae veniam alias assumenda amet voluptatum?
    Doloremque, quas aliquid tempore officia eligendi cum rem laborum est minus laudantium numquam quasi odio quaerat repudiandae amet culpa, in ipsa consequatur molestias dolore vero. Eos incidunt eum odit quia.
    Illum recusandae cupiditate voluptates cumque, nam aut harum ab cum hic iure labore distinctio doloribus in sit iusto repellat perferendis esse nulla. Itaque suscipit reiciendis ipsam minus quo expedita architecto!</ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>


